@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-dark;
  }

  body {
    @apply bg-gray-300;
  }
}

@layer components {
  .w-section {
    width: 100vw;
  }

  .h-section {
    height: calc(100vh - 50px);
  }

  .h-options-settings {
    @apply mt-80;
  }
}

@media screen and (min-width: 560px) {
  .h-options-settings {
    @apply mt-20;
  }
}

@media screen and (min-width: 840px) {
  .h-options-settings {
    @apply mt-0;
  }
}

@media screen and (min-width: 1280px) {
  .w-section {
    width: calc(100vw - 280px);
  }

  .h-section {
    height: calc(100vh - 50px);
  }
}
